<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/password-reset-email"></ion-back-button>
    </ion-buttons>
    <ion-title>Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p>We have sent a 6-digit verification code to {{ email }}.</p>
  </ion-text>

  <form (ngSubmit)="verifyOtp()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">6-digit verification code</ion-label>
        <ion-input
          [(ngModel)]="otp"
          name="otp"
          type="tel"
          inputmode="numeric"
          maxlength="6"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-text color="danger" *ngIf="errorMessage" class="ion-padding-start">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!otp || otp.length < 6 || isLoading"
      class="ion-margin-top"
    >
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <span *ngIf="!isLoading">Verify and proceed</span>
    </ion-button>
  </form>
</ion-content>