ion-card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

ion-list-header {
  font-size: 1.1rem;
  font-weight: 600;
}

.progress-text {
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--ion-color-dark);
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--ion-color-dark);
  margin-top: 8px;
}