ion-content {
  --padding-top: calc(var(--ion-safe-area-top) + 20px);
}

ion-card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

ion-list-header {
  font-size: 1.1rem;
  font-weight: 600;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-text {
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--ion-color-dark);
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--ion-color-dark);
  margin-top: 8px;
}