<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login-email"></ion-back-button>
    </ion-buttons>
    <ion-title>Enter Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text>
    <p>Logging in as:</p>
  </ion-text>
  <ion-chip outline="true" (click)="changeEmail()">
    <ion-label>{{ email }}</ion-label>
  </ion-chip>

  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input 
        formControlName="password" 
        [type]="showPassword ? 'text' : 'password'"
      ></ion-input>

      <ion-button fill="clear" (click)="toggleShowPassword()" slot="end">
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      
      <ion-button 
        fill="clear" 
        size="small" 
        (click)="forgotPassword()" 
        slot="end"
        class="ion-text-capitalize"
      >
        Forgotten your password?
      </ion-button>

    </ion-item>

    <div *if="error" style="color: var(--ion-color-danger); margin:8px 0">{{ error }}</div>

    <ion-button expand="block" type="submit" [disabled]="loading">Log in</ion-button>

    <div *if="loading" style="text-align:center; margin-top:12px">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </form>
</ion-content>