<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div *ngIf="error" style="color: var(--ion-color-danger); margin:8px 0">{{ error }}</div>

    <ion-button expand="block" type="submit" [disabled]="loading">Log in</ion-button>

    <div *ngIf="loading" style="text-align:center; margin-top:12px">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </form>
</ion-content>
