<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wizard-container">
    <div class="prompt-area">
      
      <h2>Please Enter Your Email</h2>

      <form [formGroup]="form" (ngSubmit)="next()">
        <ion-item>
          <ion-input 
            formControlName="email" 
            type="email" 
            inputmode="email" 
            autocapitalize="off"
            placeholder="name@example.com"
          ></ion-input>
        </ion-item>
      </form>
    </div>

    <div class="button-area">
      <ion-button expand="block" (click)="next()" [disabled]="form.invalid">Next</ion-button>
    </div>
  </div>
</ion-content>