<ion-header>
  <ion-toolbar>
    <ion-title>User profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Height (cm)</ion-label>
      <ion-input type="number" formControlName="heightCm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Weight (kg)</ion-label>
      <ion-input type="number" formControlName="weightKg"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Activity level</ion-label>
      <ion-select formControlName="activityLevel">
        <ion-select-option *ngFor="let o of activityOptions" [value]="o.value">{{ o.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Goal</ion-label>
      <ion-select formControlName="goal">
        <ion-select-option *ngFor="let o of goalOptions" [value]="o.value">{{ o.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Diet preference</ion-label>
      <ion-select formControlName="dietPref">
        <ion-select-option *ngFor="let o of dietOptions" [value]="o.value">{{ o.label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        Metabolic profile
        <ion-button fill="clear" size="small" (click)="openMetabolicInfo()" style="margin-left:4px;">
          i
        </ion-button>
      </ion-label>

      <ion-select formControlName="metabolicProfile">
        <ion-select-option *ngFor="let o of metabolicOptions" [value]="o.value">
          {{ o.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div style="margin-top: 16px;">
      <ion-button expand="block" type="submit" [disabled]="loading">
        <span *ngIf="!loading">Save</span>
        <ion-spinner *ngIf="loading" slot="end"></ion-spinner>
      </ion-button>
    </div>

    <div *ngIf="error" style="margin-top:12px">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
  </form>
</ion-content>
