<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login-password"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetForm" (ngSubmit)="sendOtp()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          inputmode="email"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-text color="danger" *ngIf="errorMessage" class="ion-padding-start">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="resetForm.invalid || isLoading"
      class="ion-margin-top"
    >
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <span *ngIf="!isLoading">Send verification code</span>
    </ion-button>
  </form>

  <ion-note class="ion-padding">
    We will send a six-digit verification code to your email address for password resetting.
  </ion-note>

  <ion-alert
    header="Sent"
    message="A verification code for resetting your password has been sent to your email address."
    [buttons]="['OK']"
    [isOpen]="isAlertOpen"
    (didDismiss)="onAlertDismiss()"
  ></ion-alert>
</ion-content>