<ion-header>
  <ion-toolbar>
    <ion-title>Confirm password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Please re-enter the password you have set to complete your registration.</p>

  <form [formGroup]="form" (ngSubmit)="complete()">
    <ion-item>
      <ion-label position="stacked">Re-enter your password</ion-label>
      <ion-input type="password" formControlName="password2"></ion-input>
    </ion-item>

    <div *ngIf="error" style="color:var(--ion-color-danger); margin:8px 0">
      <ion-text>{{ error }}</ion-text>
    </div>

    <ion-button expand="block" type="submit" [disabled]="loading">Complete registration</ion-button>

    <div *ngIf="loading" style="text-align:center; margin-top:12px">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </form>
</ion-content>
